---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

{% if page.lang %}
<div class="post" lang="{{page.lang}}">
{% else %}
<div class="post">
{% endif %}
  <!-- <h1 class="post-title">{{ page.title }}</h1> -->
  <span class="post-tags">
    <font size="6" color="maroon">[&nbsp;<a href="/blog/category.html">Category:&nbsp;
    {% for tag in page.categories %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a class="no-underline" href="/blog/category.html#{{ tag_name }}" style="color:maroon"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>    
    {% endfor %}
    ]</font>
  </span>
  {{ content }}
</div>


<div class="related">
  <p>
  <p>
  <hr>
  <hr>
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      {% if post.lang %}
      <li lang="{{ post.lang }}">
      {% else %}
      <li>
      {% endif %}
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% include disqus.html %}
<script id="dsq-count-scr" src="//disqus_DLOdrEpYgP.disqus.com/count.js" async></script>

<!-- Below patch is to support the math equation -->
<!-- Reference: https://stackoverflow.com/a/46765337 -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
